#page1 {
    text-align: center;
    margin-top: 150px;
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(255, 255, 255);
  }

  h1, h2 {
    text-shadow: 5px 5px 5px rgba(72, 72, 72, 0.7);
    position: relative;
  }

  h1 {
    font-size: 3rem;
    margin-top: 100px;
  }

  h2 {
    font-size: 1.5rem;
    color: rgb(217, 217, 217);
    margin-bottom: 100px;
  }

  .page1Text, p1 {
    text-shadow: 5px 5px 5px rgba(72, 72, 72, 0.7);
    position: relative;
    margin-top: 500px;
    line-height: 2;
  }

  .highlighter {
    color: rgb(13, 13, 13);
    border-radius: 5px;
    padding: 5px;
  }