#page1 {
    text-align: center;
    margin-top: 150px;
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(255, 255, 255);
  }

  h1, h2 {
    text-shadow: 5px 5px 5px rgba(72, 72, 72, 0.7);
    position: relative;
  }

h1 {
  font-size: 3rem;
  margin-top: 100px;
  color: rgb(5, 5, 15);
  text-shadow:
    0 0 8px #00f0ff,
    0 0 20px #00f0ff,
    -2px -2px 0 #00f0ff,
    2px -2px 0 #00f0ff,
    -2px 2px 0 #00f0ff,
    2px 2px 0 #00f0ff,
    0 0 30px #ff00cc,
    0 0 60px #ff00cc,
    0 0 80px #ffaa00,
    0 0 120px #ffaa00;
}

 h2 {
  font-size: 1.5rem;
  color: rgb(217, 217, 217);
  margin-bottom: 100px;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
    0 0 15px rgba(0, 0, 0, 0.9),
    0 0 30px rgba(0, 0, 0, 0.7),
    4px 4px 10px rgba(0, 0, 0, 0.8);
}

.page1Text, p1 {
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
    0 0 15px rgba(0, 0, 0, 0.9),
    0 0 30px rgba(0, 0, 0, 0.7),
    4px 4px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  margin-top: 500px;
  line-height: 2;
}

.highlighter {
  color: rgb(13, 13, 13);
  border-radius: 5px;
  padding: 5px;
  text-shadow: none;
}