h5 {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(85, 69, 186);
    text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
    0 0 15px rgba(0, 0, 0, 0.9),
    0 0 30px rgba(0, 0, 0, 0.7),
    4px 4px 10px rgba(0, 0, 0, 0.8);
    position: relative;
    font-size: 3rem;
    margin-top: 50px;
}

#page4 {
    font-family: 'Press Start 2P', sans-serif;
    padding-bottom: 200px;
}

#models-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 40px 10% 20px 10%;
}

.hover-container {
    position: relative;
    display: block;
    margin: 0;
}

.hover-container img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 10px -2px rgba(34, 106, 151, 0.8);
    transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.3s ease;
    cursor: pointer;
}

.hover-container:hover img {
    filter: grayscale(100%) brightness(50%);
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(168, 59, 90, 1);
}

.hover-text {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    line-height: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    width: 80%;
    text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

.hover-container:hover .hover-text {
    opacity: 1;
}